<h1>Login</h1>
<h3><i class="fas fa-book-reader"></i> DailyStories</h3>

<div class="section">
    <p class="lead">Post ur DailyStories</p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green">
    <i class="fab fa-google left"></i>   Log In with Google
    </a>
</div>